### Question 1: Write a Python program to count the number of elements in a list without using len.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [ ]:
# Please write The solution Here for above question 1:
a=[60,70,100,120]
b=0
for i in a:
  b+=1
print(b)

4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [ ]:
# Please write The solution Here for above question 2:
a=[2,4,6,8,10]
minimum=min(a)
print('minimum=',minimum)
maximum=max(a)
print('maximum=',maximum)

minimum= 2
maximum= 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [ ]:
# Please write The solution Here for above question 3:
b=[1,2,3,4,5,6]
b.remove(1)
print(b)

[2, 3, 4, 5, 6]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [ ]:
from re import A
from ast import Return
# Please write The solution Here for above question 4:
list1=(1,3,5,7,9)
sum=0
len=0
for i in list1:

  sum=sum+i
  len=len+1
print(sum,len)
print(sum/len)

25 5
5.0

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [ ]:
# Please write The solution Here for above question 5:
list=['a','b','c','d']
if list==[]:
  print('the list is empty')
else:
  print('the list is not empty')

the list is not empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [ ]:
# Please write The solution Here for above question 6:
list1=[1,2,3,4,5,6]
index=list1.index(4)
print(index)
index=list1.index(2)
print(index)

3
1

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [ ]:
# Please write The solution Here for above question 7:
pass

121

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [ ]:
# Please write The solution Here for above question 8:
def common_elements(list1,list2):
  set1=set(list1)
  set2=set(list2)
  return set1.intersection(set2)

list1=[10,20,30,40,50]
list2=[20,30,40,60,70]

print(common_elements(list1,list2))

{40, 20, 30}

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [ ]:
# Please write The solution Here for above question 9:
list1=[1,2,3,4,3,5,6,7,6,2,3]
result=[]
for i in list1:
  if i not in result:
    result.append(i)
print(result)

[1, 2, 3, 4, 5, 6, 7]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [ ]:
# Please write The solution Here for above question 10
pass

sorted list in ASCIIorder:sorted_list